.bodydesign {
    background-color: #efe8b0;
}

h1 {
    font-size: 28px;
    background-color: #ccbc3d;
}

.link {
    text-decoration: none;
    color: blue;
}

.link:visited {
    color: purple;
 }

 .link:hover, .link:focus {
     color: blue;
 }

 .link:active {
     color: red;
}
