 .bodydesign{
    background-color: #efe8b0;
 }

h1 {
    font-size: 28px;
    background-color: #ccbc3d;
}

button {
    align-items: center;
    background-color: #fee6e3;
    border: 2px solid #111;
    border-radius: 8px;
    box-sizing: border-box;
    color: #111;
    cursor: pointer;
    display: flex;
    font-family: Inter,sans-serif;
    font-size: 16px;
    height: 48px;
    justify-content: center;
    line-height: 24px;
    max-width: 100%;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}
.button-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.button-list li {
    display: inline-block;
    margin-right: 10px; /* Adjust spacing between buttons as needed */
}

.button-list li:last-child {
    margin-right: 0; /* Remove margin from last button */
}

.button-list button {
    background-color: #fee6e3;
    border: 2px solid #111;
    border-radius: 8px;
    padding: 10px 20px;
    text-decoration: none;
    color: #111;
    cursor: pointer;
    font-family: Inter, sans-serif;
}

.button-list button:hover {
    background-color: #ffdeda;
}

.button-list button:focus {
    outline: none;
}

@media (min-width: 768px) {
    button {
        padding: 0 40px;
    }
}

.image-and-quotations {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.xerox-parc-image {
    max-width: 20%;
    opacity: 0.7; /* Adjust the opacity as needed */
    margin-right:20px;
}

.quotations {
    margin-left: 50px;
}

blockquote {
    font-style: italic;
    margin-bottom: 20px;
}

blockquote p {
    margin-bottom: 10px;
}

blockquote footer {
    font-weight: bold;
}

