body {
    background-color: #2E312B;
    font-family: monospace;
    box-sizing: content-box;
}

p {
    font-size: 17px;
    color: #1a89c7;
}

a:link {
    color: #FFFFFF;
    text-decoration: none;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 1.3em;
}

a:visited {
    color: #BFBFBF;
}

a:hover {
    color: #FFFFFF;
}

a:active {
    color: #FD2600;
}

/* Hover Underline Animation */
.nav-item a {
    position: relative;
    display: inline-block;
    transition: color 0.3s ease;
}

.nav-item a::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px; /* Thickness of the underline */
    background-color: #FFFFFF; /* Color of the underline */
    left: 0;
    bottom: -2px; /* Position the underline just below the text */
    transform: scaleX(0); /* Start with no underline */
    transform-origin: bottom right;
    transition: transform 0.3s ease; /* Smooth underline transition */
}

.nav-item a:hover::after {
    transform: scaleX(1); /* Full underline on hover */
    transform-origin: bottom left;
}

.nav-topics {
    text-align: right;
    padding-top: 3px;
    padding-right: 50px;
}

.nav-item {
    display:inline-block;
    padding: 2px 10px;
}

.content {
    width:50%;
    margin: 0 auto;
    background-color: #17191A;
    height: auto;
    border-radius: 20px;
    padding-bottom: 10px;
}

.content header {
    margin-top: 40px;
    margin-left: 15px;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: bold;
    padding: 15px;
    text-transform: capitalize;
}

.content p{
    margin-left: 40px;
    margin-right: 25px;
    color: #D2D8D9;
    text-align: justify;
    font-size: 16px;
    text-indent: 50px;
    padding-right: 20px;
    padding-left: 20px;
}

.content .inner-link a {
    color: #00ABD5; /* Inherit color from the parent */
    text-decoration: underline; /* Optional: Add underline for distinction */
    font-size: 16px;
    cursor: pointer;
}

.content .inner-link a:visited {
    color: #f63c63; /* Adjusted visited link color */
}

.content .inner-link a:hover {
    color: #028f17; /* Highlight color on hover */
}

.content .inner-link a:active {
    color: #00ABD5; /* Active state color */
}

.content .sub-head h1 {
    display: inline; 
    font-size: 1.5em; 
    font-weight: bold; 
    text-transform: capitalize; 
    color: #ffffff; 
    margin-left: 25px; 
    padding-left: 30px;
}

@media (max-width:450px){
    :root {
        font-size: 0.6em;
    }

    .nav-topics {
        padding-right: 4.5em;
    }

    .nav-item {
        padding: 0.225em 0.225em;
    }

    .content {
        width: 90%;
        margin: 0 1.3em;
        background-color: #17191A;
        height: auto;
        border-radius:20px;
    }

    .content header {
        font-size: 3em;
    }

    .content p {
        font-size: 1.4em;
    }

}
